---
# Copyleft (c) 2022 Contributors to Smart Data Models initiative
#


components:
  schemas:
    TourismDwellTimeObserved:
      $ref: "https://smart-data-models.github.io/dataModel.TourismDestinations/TourismDwellTimeObserved/model.yaml#TourismDwellTimeObserved"
info:
  description: |
    Hourly observation of visitor dwell time (permanence duration) at a specific location (municipality), segmented by nationality and dwell time range.
  title: TourismDwellTimeObserved
  version: "0.0.1"
openapi: "3.0.0"

paths: 
  /ngsi-ld/v1/entities: 
    get: 
      description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
      parameters: 
        - 
          in: query
          name: type
          required: true
          schema: 
            enum: 
              - TourismDwellTimeObserved
            type: string
      responses: 
        ? "200"
        : 
          content: 
            application/ld+json: 
              examples: 
                keyvalues: 
                  summary: "Key-Values Pairs"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.TourismDestinations/TourismDwellTimeObserved/examples/example.json"
                normalized: 
                  summary: "Normalized NGSI-LD"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.TourismDestinations/TourismDwellTimeObserved/examples/example-normalized.jsonld"
          description: OK
      tags: 
        - ngsi-ld
tags: 
  - 
    description: "NGSI-LD Linked-data Format"
    name: ngsi-ld